*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:sans-serif;
}

nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 50px;

}

nav ul{

  text-decoration:none;
  color:black;

}

button{
  padding:10px 20px;
  border:none;
  border-radius:5px;
  cursor:pointer;
  background-color:black;
  color:white;

}