*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:sans-serif;
}

nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 50px;

}

nav ul{

  text-decoration:none;
  color:black;

}

button{
  padding:10px 20px;
  border:none;
  border-radius:5px;
  cursor:pointer;
  background-color:black;
  color:white;

}

.banner{
  background-image:url("./images/banner.png");
  background-size:cover;
  background-position:center;
  height:500px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

}
.banner h1{
  font-size:60px;
  margin-bottom:20px;


}

.banner p{
  margin-bottom:20px;
  
}